*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

iframe {
  border: 0;
}

ul {
  padding-inline-start: 1rem;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 839px) {
  .hide-on-mobile {
    display: none;
  }
}

li::marker {
  color: var(--wp--preset--color--primary);
}
