.printmasters-bullets {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--wp--preset--spacing--16);
}

.printmasters-bullets > p {
  margin: 0 !important;
  font-size: 0.75rem;
  letter-spacing: 0.01em;
}

.printmasters-bullets > p:not(:first-child) {
  padding: 0.25rem 0.5rem;
  background-color: var(--wp--preset--color--primary);
  color: var(--wp--preset--color--neutral-100);
}
