.printmasters-footer a {
  transition: var(--wp--custom--transition);
}

.printmasters-footer a:hover {
  color: var(--wp--preset--color--neutral-100) !important;
}

.printmasters-footer-grid-cell:first-child {
  grid-column: 1 / span 2 !important;
}

.printmasters-footer-grid-row {
  justify-content: center;
}

.printmasters-footer-grid-row > nav > ul {
  justify-content: center;
  flex-wrap: wrap !important;
}

.printmasters-footer-grid-row p {
  text-align: center;
}

@media (min-width: 840px) {
  .printmasters-footer-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }

  .printmasters-footer-grid-cell:first-child {
    grid-column: 1 / span 1 !important;
  }
}

@media (min-width: 1200px) {
  .printmasters-footer-grid-bottom {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }

  .printmasters-footer-grid-row {
    justify-content: flex-start;
  }

  .printmasters-footer-grid-row:last-child {
    justify-content: flex-end;
  }
}


/* Footer CTA */
@media (max-width: 839px) {
  .printmasters-footer-cta-row {
    flex-direction: column;
  }
  .printmasters-footer-cta-links {
    flex-direction: column;
    gap: var(--wp--preset--spacing--16) !important;
  }
}


.printmasters-tel-icon,
.printmasters-mail-icon {
  padding: var(--wp--preset--spacing--08);
  display: inline-flex;
  align-items: center;
  gap: var(--wp--preset--spacing--08);
  opacity: 0.9;
}

.printmasters-tel-icon:hover,
.printmasters-mail-icon:hover {
  opacity: 1;
  transition: var(--wp--custom--transition)
}

.printmasters-tel-icon .printmasters-icon,
.printmasters-mail-icon .printmasters-icon {
  border: 1px solid rgba(255,255,255,0.5);
  background-color: rgba(255,255,255,0.12);
  transition: var(--wp--custom--transition)
}

.printmasters-tel-icon:hover  .printmasters-icon,
.printmasters-mail-icon:hover  .printmasters-icon {
  border: 1px solid rgba(255,255,255,0.9);
}
