.printmasters-header {
  padding-block: var(--wp--preset--spacing--24);
  padding-inline: var(--wp--custom--padding--inline);
}

.printmasters-header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--wp--style--global--content-size);
  width: 100%;
}

.printmasters-header-start,
.printmasters-header-end {
  margin: 0 !important;
  width: 100%;
}

@media (min-width: 840px) {
  .printmasters-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-block: var(--wp--preset--spacing--24) 0;
  }

  .printmasters-header-inner {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    max-width: var(--wp--style--global--content-size);
    width: 100%;
  }
}

.wp-block-printmasters-navigation-items {
  flex-direction: row;
}

// Dropdown
.wp-block-printmasters-navigation-menu {
  width: 100vw !important;
  max-width: 100vw !important;
}

.wp-block-printmasters-navigation-menu-inner {
  max-width: var(--wp--style--global--content-size);
  width: 100%;
  margin-inline: auto;
}

@media (max-width: 839px) {
  .wp-block-printmasters-navigation-menu-stack {
    padding-top: var(--wp--preset--spacing--08) !important;
    padding-bottom: 0 !important;
  }

  .wp-block-printmasters-navigation-menu-inner > .wp-block-group {
    padding-left: var(--wp--preset--spacing--24);
  }

  .wp-block-printmasters-navigation-item,
  .wp-block-printmasters-navigation-item-link-wrapper {
    width: 100%;
  }

  .wp-block-printmasters-navigation-item {
    padding-block: var(--wp--preset--spacing--08) !important;
  }
}

@media (min-width: 840px) {
  .wp-block-printmasters-navigation-menu {
    background-color: var(--wp--preset--color--neutral-200);
  }
}
