.printmasters-page-with-sidebar {
  margin-block-end: var(--wp--custom--margin--block);
}

.printmasters-page-with-sidebar-row {
  flex-direction: column !important;
}

@media (max-width: 839px) {
  .printmasters-page-with-sidebar-row {
    gap: var(--wp--preset--spacing--24) !important;
  }
}

@media (min-width: 840px) {
  .printmasters-page-with-sidebar-row {
    flex-direction: row !important;
  }
}

.printmasters-page-with-sidebar-row .printmasters-page-with-sidebar-aside {
  flex-shrink: 0;
  position: relative !important;
  width: 100%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  top: 100% !important;
}

.printmasters-page-with-sidebar-row .printmasters-page-with-sidebar-aside::-webkit-scrollbar {
  display: none;
}

@media (min-width: 840px) {
  .printmasters-page-with-sidebar-row .printmasters-page-with-sidebar-aside {
    width: auto;
    overflow: auto;
  }
}
