<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"className":"printmasters-single-career-breadcrumbs","layout":{"type":"constrained"}} -->
<div class="wp-block-group printmasters-single-career-breadcrumbs"><!-- wp:group {"metadata":{"categories":["pm"],"patternName":"core/block/834","name":"Breadcrumbs"},"align":"full","style":{"spacing":{"margin":{"top":"var:preset|spacing|08","bottom":"var:preset|spacing|08"},"padding":{"top":"var:preset|spacing|08","bottom":"var:preset|spacing|08"}}},"backgroundColor":"neutral-200","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull has-neutral-200-background-color has-background" style="margin-top:var(--wp--preset--spacing--08);margin-bottom:var(--wp--preset--spacing--08);padding-top:var(--wp--preset--spacing--08);padding-bottom:var(--wp--preset--spacing--08)"><!-- wp:printmasters/flex-container {"globalMarginBottom":false} -->
<div class="wp-block-printmasters-flex-container items-stretch tablet--items-stretch desktop--items-stretch content-start tablet--content-start desktop--content-start flex-row tablet--flex-col desktop--flex-col justify-start tablet--justify-start desktop--justify-start flex-no-wrap tablet--flex-no-wrap desktop--flex-no-wrap"><!-- wp:printmasters/flex-item -->
<div class="wp-block-printmasters-flex-item items-stretch tablet--items-stretch desktop--items-stretch content-start tablet--content-start desktop--content-start flex-row tablet--flex-col desktop--flex-col justify-start tablet--justify-start desktop--justify-start flex-no-wrap tablet--flex-no-wrap desktop--flex-no-wrap self-auto tablet--self-auto desktop--self-auto grow-0 tablet--grow-0 desktop--grow-0 shrink tablet--shrink desktop--shrink order-0 tablet--order-0 desktop--order-0" style="--flex-basis:100%;--flex-basis-tablet:100%;--flex-basis-desktop:50%"><!-- wp:printmasters/breadcrumbs {"ancestors":[{"parent":null,"title":"Home"},{"parent":null,"title":"Current Page"}]} /--></div>
<!-- /wp:printmasters/flex-item --></div>
<!-- /wp:printmasters/flex-container --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"printmasters-single-career","layout":{"type":"constrained","contentSize":""}} -->
<div class="wp-block-group printmasters-single-career"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|08"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:post-title /-->

<!-- wp:printmasters/single-career-subtitle -->
<div>save</div>
<!-- /wp:printmasters/single-career-subtitle --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"printmasters-single-career-row","style":{"spacing":{"blockGap":"var:preset|spacing|48"}},"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"top"}} -->
<div class="wp-block-group printmasters-single-career-row"><!-- wp:post-content /-->

<!-- wp:group {"className":"printmasters-single-career-stack","style":{"position":{"type":"sticky","top":"0px"}},"layout":{"type":"flex","orientation":"vertical","verticalAlignment":"top","justifyContent":"right"}} -->
<div class="wp-block-group printmasters-single-career-stack"><!-- wp:printmasters/buttons -->
<div class="wp-block-printmasters-buttons justify-start tablet--justify-start desktop--justify-start"><!-- wp:printmasters/button {"buttonText":"Apply now","showIcon":false} -->
<a class="wp-block-printmasters-button is-filled has-icon-end" href="#" target="_self" rel="noopener"><span>Apply now</span></a>
<!-- /wp:printmasters/button --></div>
<!-- /wp:printmasters/buttons -->

<!-- wp:printmasters/social-links {"className":"printmasters-single-career-social-links"} -->
<div class="wp-block-printmasters-social-links printmasters-single-career-social-links"><!-- wp:printmasters/social-link -->
<a class="wp-block-printmasters-social-link" href="#" target="_self" rel="noopener"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" size="24" aria-hidden="true"><path stroke="currentColor" d="M16.375 2h-8.75A5.602 5.602 0 0 0 2 7.625v8.75C2 19.5 4.5 22 7.625 22H12v-7.5H9.5c-.375 0-.625-.25-.625-.625V12c0-.375.25-.625.625-.625H12V9.5c0-2.063 1.063-3.75 3.125-3.75h2.5c.375 0 .625.25.625.625V8.25c0 .375-.25.625-.625.625H15.25a.134.134 0 0 0-.125.125v2.375h3.125c.188 0 .375.125.5.25s.125.375.063.563l-1.25 1.874c-.063.313-.313.438-.563.438h-1.875V22h1.25C19.5 22 22 19.5 22 16.375v-8.75C22 4.5 19.5 2 16.375 2Z"></path></svg></a>
<!-- /wp:printmasters/social-link -->

<!-- wp:printmasters/social-link {"icon":"instagram"} -->
<a class="wp-block-printmasters-social-link" href="#" target="_self" rel="noopener"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" size="24" aria-hidden="true"><path stroke="currentColor" d="M16.375 2h-8.75A5.602 5.602 0 0 0 2 7.625v8.75C2 19.5 4.5 22 7.625 22h8.75C19.5 22 22 19.5 22 16.375v-8.75C22 4.5 19.5 2 16.375 2ZM12 8.25A3.761 3.761 0 0 1 15.75 12 3.761 3.761 0 0 1 12 15.75 3.761 3.761 0 0 1 8.25 12 3.761 3.761 0 0 1 12 8.25Zm3.75-1.875c0-.688.563-1.25 1.25-1.25.688 0 1.25.563 1.25 1.25 0 .688-.563 1.25-1.25 1.25-.688 0-1.25-.563-1.25-1.25Z"></path></svg></a>
<!-- /wp:printmasters/social-link -->

<!-- wp:printmasters/social-link {"icon":"linkedin"} -->
<a class="wp-block-printmasters-social-link" href="#" target="_self" rel="noopener"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" size="24" aria-hidden="true"><path stroke="currentColor" d="M16.375 2h-8.75A5.602 5.602 0 0 0 2 7.625v8.75C2 19.5 4.5 22 7.625 22h8.75C19.5 22 22 19.5 22 16.375v-8.75C22 4.5 19.5 2 16.375 2ZM9.5 17.625c0 .375-.25.625-.625.625h-2.5c-.375 0-.625-.25-.625-.625v-7.5c0-.375.25-.625.625-.625h2.5c.375 0 .625.25.625.625v7.5Zm-1.875-8.75A1.842 1.842 0 0 1 5.75 7c0-1.063.813-1.875 1.875-1.875C8.688 5.125 9.5 5.938 9.5 7a1.842 1.842 0 0 1-1.875 1.875Zm10.625 8.75c0 .375-.25.625-.625.625H15.75c-.375 0-.625-.25-.625-.625v-4.062c0-.5-.438-.938-.938-.938-.5 0-.937.438-.937.938v4.062c0 .375-.25.625-.625.625H10.75c-.375 0-.625-.25-.625-.625v-7.5c0-.375.25-.625.625-.625h2.5c.188 0 .313.063.438.188a3.54 3.54 0 0 1 1.124-.188c1.876 0 3.438 1.563 3.438 3.438v4.687Z"></path></svg></a>
<!-- /wp:printmasters/social-link --></div>
<!-- /wp:printmasters/social-links --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->